   .e-file-select-wrap {
        display: none;
    }
    .db-toolbar-container{
                    width: 100%!important;
    }
    .overview-toggle-btn {
    padding: 2px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    color: #fff;
  }
  .overview-toggle-btn:hover {
    background-color: red;
  }
  .e-menu-wrapper .e-menu{
    margin-top: -5px!important;
    color: white !important;
  }
  .e-menu-wrapper ul .e-menu-item .e-caret, .e-menu-container ul .e-menu-item .e-caret {
    visibility: collapse !important;
  }

  .image-pattern-style,.image-pattern-style2 {
        background-color: white;
        background-size: contain;
        background-repeat: no-repeat;
        height: 50px;
        width: calc((100% - 40px) / 3);
        cursor: pointer;
        border: 1px solid #D5D5D5;
        background-position: center;
        float: left;
    }

   .image-pattern-style:hover,
    .image-pattern-style2:hover {
    border-color: gray;
    border-width: 2px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .row-header {
        font-size: 13px;
        font-weight: 500;
    }

    .row-header1 {
        font-size: 12px;
        padding-left: 2px;
        font-weight: 400;
    }

    .property-panel-header {
        padding-top: 2px;
        padding-bottom: 5px;
    }

    .e-selected-orientation-style {
        border-color: #006CE6;
        border-width: 2px;
    }

    .e-selected-pattern-style {
        border-color: #006CE6;
        border-width: 2px;
    }

    .e-checkbox-wrapper .e-label {
        font-size: 12px;
    }

    .col-xs-6 {
        padding-left: 0px;
        padding-right: 0px;
    }

        .property-panel-content{
            margin-left: 15px;
        }
    #pictureDropdown , #addAssistantBtn{
        opacity: 0.5;
        pointer-events: none;
    }
    .e-colorpicker-wrapper .color-font + .e-split-btn-wrapper .e-btn-icon.e-caret::before {
    content: '\e79f' !important;
    display: inline-block !important;
    font-size: 20px !important;
    margin-left: -6px !important;
    color: #605e5c !important;
    }
    .e-colorpicker-wrapper .color-fill + .e-split-btn-wrapper .e-btn-icon.e-caret::before {
    content: '\e783' !important;
    display: inline-block !important;
    font-size: 18px !important;
    margin-left: -3px !important;
    color: #605e5c !important;
    }
    .e-colorpicker-wrapper .color-stroke + .e-split-btn-wrapper .e-btn-icon.e-caret::before {
    content: '\e740' !important;
    display: inline-block !important;
    font-size: 17px !important;
    margin-left: -3px !important;
    color: #605e5c !important;
    
    }

    #e-split-btn_12_dropdownbtn,#e-split-btn_13_dropdownbtn,#e-split-btn_14_dropdownbtn{
        margin-top: -4px!important;
        border: #e3e3e3;
    }
    .item-singleSelect, .item-singleSelectColor{
        pointer-events: none;
        opacity: 0.5;
    }